.app-topbar {
  position: fixed;
  z-index: 999;
  padding: 0 2rem;
  left: 0;
  top: 0;
  background-color: var(--surface-card);
  transition: left var(--layout-section-transition-duration);
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
}

.app-topbar .layout-topbar-logo-container {
  width: 20rem;
  display: flex;
  align-items: center;
}

.app-topbar .layout-topbar-logo {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  border-radius: var(--content-border-radius);
  color: var(--text-color);
  font-weight: 500;
  gap: 0.5rem;
}

.app-topbar .layout-topbar-logo svg {
  width: 3rem;
}

.app-topbar .layout-menu-button {
  margin-right: 0.5rem;
}

.app-topbar .layout-topbar-actions {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

.app-topbar .layout-topbar-menu-content {
  display: flex;
  gap: 1rem;
}

.app-topbar .layout-topbar-action {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-secondary);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--text-color);
  transition: background-color var(--element-transition-duration);
  cursor: pointer;
}

.app-topbar .layout-topbar-action:hover {
  background-color: var(--surface-hover);
}

.app-topbar .layout-topbar-action .layout-topbar-action i {
  font-size: 1.25rem;
}

.app-topbar .layout-topbar-action span {
  font-size: 1rem;
  display: none;
}

.app-topbar .layout-topbar-action .layout-topbar-action-highlight {
  background-color: var(--primary-color);
  color: var(--primary-contrast-color);
}
