@import "./css";

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html {
  height: 100%;
  font-size: 14px;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--primary-color);
  color: var(--text-color);
  background-color: var(--surface-ground);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.layout-wrapper {
  min-height: 100vh;
  /* background-color: var(--primary-color); */
}

button:hover {
    cursor: pointer;
}
